<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}

  <link rel="stylesheet" href="{{ url_for('static', filename='typing.css') }}">
  <script defer src="{{ url_for('static', filename='typing.js') }}"></script>
  <title>My Home</title>
</head>
<body>
  <!-- 네비게이션 영역 -->
  {% include "navigation.html" %}

  <div class="container">
    <section id="typing-area">
      <h1 id="typing-text"></h1>
    </section>

  </div>

  <!-- 자신의 이름으로 변경 -->
  {% include "footer.html" %}
</body>
</html>